@tailwind base;
@tailwind components;
@tailwind utilities;

.react-chatbot-kit-chat-container {
	width: 80vw;
}

@media (min-width: 1024px) {
	.react-chatbot-kit-chat-container {
		width: 50vw;
	}
}

.react-chatbot-kit-chat-message-container {
	scrollbar-width: none;
}

.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
	display: none;
}

.react-chatbot-kit-chat-input:focus {
	outline: none;
}

.react-chatbot-kit-chat-bot-message {
	margin-left: 1rem;
	width: auto;
}

.react-chatbot-kit-user-chat-message {
	margin-right: 1rem;
	width: auto;
}
